<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books & Authors</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'bookPage.css' %} ">
</head>

<body>

    <h1>Add a Book</h1>

    <div class="inline_block">

        <form action="/addBook" method="POST">
            {% csrf_token%}
            <label for="">Title</label>
            <input type="text" name="title">
            <label for="">Description</label>
            <input type="text" name="description">
            <button type="submit">ADD</button>
        </form>

    </div>




    <div class="inline_block">

        <table>
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Title</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.title }}</td>
                    <td><a href="">View</a></td>
                </tr>
                {% endfor %}

            </tbody>
        </table>


    </div>

</body>

</html>